.search_bar {
	border: 1px solid grey;
	border-radius: 20px;
	height: 20px;
	padding: 2px 23px 2px 30px;
	outline: 0;
	background-color: #333131;
	color: white;
}

.search_btn {
	border: 1px solid grey;
	border-radius: 5px;
	height: 20px;
	padding: 2px 23px 2px 30px;
	margin: 10px;
	outline: 0;
	background-color: #333131;
	color: white;
}
.search_btn:hover {
	background-color: #57327a;
	color: white;
}

body {
	background-color: black;
	color: white;
}
