body {
	background-color: black;
	color: white;
}
/* Todo.tsx */
.todo_container {
	text-align: center;
	background-color: #4a3ad3;
	width: 220px;
	margin: 10px auto;
	border-radius: 5px;
}

.todo_container .todo_btns {
	border-radius: 15px;
}

.complete {
	text-decoration: line-through;
	text-decoration-color: darkred;
	text-decoration-style: double;
}

li {
	list-style-type: none;
}

/* TodoForm.tsx */
.search_bar {
	border: 1px solid grey;
	border-radius: 20px;
	height: 20px;
	padding: 2px 23px 2px 30px;
	outline: 0;
	background-color: #524c4c;
	color: white;
	width: 250px;
	align-self: center;
	text-align: center;
}

.search_btn {
	border: 1px solid grey;
	border-radius: 5px;
	height: 20px;
	padding: 2px 23px -100px 30px;
	margin: 10px;
	outline: 0;
	background-color: #660909;
	color: white;
}
.search_btn:hover {
	background-color: #447c24;
}

/* Using these two for visualizing Json */
/* TodoList.tsx */
.btns_1 button {
	border-radius: 15px;
	outline-color: #447c24;
	margin: 3px;
}

.btns_2 button {
	border-radius: 15px;
	outline-color: #447c24;
	margin: 5px;
}
.btns_1 button:hover {
	background-color: #ce1b1b;
}

.btns_2 button:hover {
	background-color: #ce1b1b;
}

.filter_name {
	color: #ce1b1b;
}

p {
	background: #3d494e;
	padding: 1em 2em;
	border-radius: 15px;
	white-space: pre-line;
	text-align: center;
	width: 220px;
	margin: 10px auto;
}

pre {
	text-align: justify;
}

.show_json {
	display: block;
}
